{:main solo.spa, :asset-path "out/assets", :output-to "resources/public/js/compiled/solo-spa.js", :output-dir "resources/public/js/compiled/assets", :source-map-timestamp true, :optimizations :none, :preloads [figwheel.connect], :external-config {:figwheel/config {:build-id "dev", :websocket-url "ws://[[client-hostname]]:3448/figwheel-ws"}}}