/* see https://www.w3schools.com/css/default.asp */

.boxed {
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 3px;
}

.title {
    background-color: lightblue;
    text-align: center;
}

.content {
    margin-top: 50px;
}

ol {
    list-style-type: upper-roman;
}

li {
    margin-top: 10px;
}





#new-logger {
    border-style: solid;
    border-width: 3px;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: lightblue;
    box-sizing: border-box;
}

#top-of-page {
    border-width: 3px;
    padding: 8px;
    background-color: orange;
    box-sizing: border-box;
}

#loggers, #new-logger, #top-of-page {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: small;
    border-collapse: collapse;
    width: 100%;
}

#loggers td, #loggers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#loggers tbody > tr:nth-child(even){background-color: #f2f2f2;}

#loggers tbody > tr:nth-child(odd){background-color: #fffff0;}

#loggers tbody > tr:hover {background-color: #ddd;}

#loggers thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
